<!DOCTYPE html>

<html>
<head>
    
    <title></title>
    <link rel="stylesheet" type="text/css" href="login.css"
</head>
<body>
    <div class="login">
        <h2>Member Login </h2>
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
        <button>Login</button>
    </div>
</body>
</html>
